.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: #FFF;
  color: #3d3d3d;
  margin-bottom: 15px;

  a {
    text-decoration: none;
    color: #3d3d3d;
  }

  &__left {

  }

  &__right {

  }

  &__items {
    padding: 0;
    list-style: none;
  }

  &__item {
    padding: 30px 20px;
    display: inline;
  }
}