.timelapse {
  &__item {
    width: 30%;
    padding: 10px;
    border: 1px solid #555;
  }

  &__title {
    font-size: 22px;
    font-weight: 300;
    text-transform: capitalize;
  }

  &__location {
    font-size: 20px;
  }

  &__image {
    width: 100%;
  }
}